.recTabela {
    padding: 5px;
    line-height: 30px;
    text-align: center;
    width: 80%;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
    margin-top: 10px;
}

.recTabela th {
    line-height: 40px;
}

#categoriaListaDados {
    background-color: #C5DBC7;
    border-radius: 5px;
} 

.label-receitas {
    padding: 5px;
    border-radius: 8px;
    background-color: red;
}

.label-receitas.remuneracao {
    background-color: #C5DBC7;
}

.label-receitas.investimentos {
    background-color: #9792E3;
}

.label-receitas.outros {
    background-color: #FF784F;
}