.middlePartWrapper {
    width: 80%;
    margin-top: 140px;
    margin-left: 100px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0;
}

#middlePartContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
}

.middlePartLeft {
    width: 49.8%;
    background-color: #fff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
}

.middlePartRight {
    width: 49.9%;
    background-color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
}

.middlePartTitle,
.middlePartValue {
    font-size: 1.6rem;
}

.middlePartValue {
    color: #04660E;
}

/* .middleContainer {
    width: 85%;
    position: relative;
    top: -160px;
    border-radius: 17px;
    display: flex;
    justify-content: space-evenly;
}

.middleContainerLeft {
    height: 200px;
    top: 220px;
    left: 98px;
    position: absolute;
    background-color: white;
    width: 49.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
    border-radius: 17px;
}

.valorMiddleContainer {
    color: #04660E;
}

.middleContainerRight {
    height: 200px;
    top: 220px;
    left: 677px;
    position: absolute;
    background-color: white;
    width: 49.5%;
    display: flex;
    justify-content: center;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
    border-radius: 17px; 
} */

.piegraph {
    width: 150px;
    height: auto;
}