.modalRec {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalRecCont {
    background-color: #fff;
    color: #000;
    width: 650px;
    height: 650px;
    border-radius: 17px;
}

.closeRec {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right: calc(-100% + 64px);
    top: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.closeRec::before, .closeRec::after {
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000;    
}

.closeRec::before {
    transform: rotate(45deg);
}

.closeRec::after {
    transform: rotate(-45deg);
}