.titulo {
    font-size: 30px;
    color: rgb(4,102,14,1);
    position: absolute;
    width: 230px;
    height: auto;
    left: 105px;
    top: 55px;
    line-height: 70px;
}

.bloco-bco {
    position: absolute;
    width: 85%;
    height: 85px;
    left: 98px;
    top: 120px;
    background-color: white; /* white */
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1.5px 1.5px 3px #C5DBC7;
}

.retangulo1 {
    background: #c5dbc7;
    width: auto;
    padding: 10px 30px;
    height: 50px;
    margin: 0 auto;
    border-radius: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.retangulo2 {
    background: #c5dbc7;
    width: auto;
    padding: 10px 30px;
    height: 50px;
    margin: 0 auto;
    border-radius: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.retangulo3 {
    background: #c5dbc7;
    width: auto;
    padding: 10px 30px;
    height: 50px;
    margin: 0 auto;
    border-radius: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bloco-bco a, a:visited {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

.icone-botao {
    width: 25px;
    height: auto;
}