.tituloMov {
    font-size: 60px;
    color: rgb(4,102,14,1);
    position: absolute;
    width: 230px;
    height: auto;
    left: 119px;
    top: 165px;
    line-height: 70px;
}

.novaMovimentacao {
    background: #c5dbc7;
    width: 240px;
    height: 66.67px;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 1550px;
    top: 165px;
    line-height: 70px;
    position: absolute;
}

.bloco{
    background: white;
    width: 80vw;
    height: 70vh;
    margin-top: 220px;
    border-radius: 25px;
    justify-content: space-evenly;
}

.listas {
    display: flex;
    width: 80vw;
    height: 55vh;
    justify-content: center;
}

.listaOrigem, .listaPrecos{
    padding: 50px;
    width: 80vw;
    text-align: center;
    line-height: 4rem;
    font-size: 35px;
}

.listas ul{
    list-style: none;
}

.Mov {
    width: 60vw;
    margin: 0 auto;
    height: 0px;
    border: 1px solid #8DB892;
}

.saldodiv{
    display: flex;
    font-size: 40px;
    padding: 50px;
    list-style: none;
    justify-content: space-evenly;
}

