table{
    width: 100%;
}

td{
    padding: 5px 0;
}

table td.descricao{
    width: 40%;
}

table td.valor{
    width: 20%;
    text-align: center;
}

table td.categoria{
    width: 20%;
    padding-left: 10px;
    text-align: center;

}

table td.data{
    width: 20%;
    text-align: right;
}