header#despesas-header{
    width: 100vw;
    height: 80px;
    background: #C5DBC7;
    display: flex;
    align-items: center;
    padding-left: 7%;
}

header#despesas-header img{
    width: 80px;

}