#middlewrapper{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#media{
    width: 45%;
    height: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
    background: #FFF;
    border-radius: 20px;
    text-align: center;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#media h2{
    margin-bottom: 5px;
    font-size: clamp(15px, 30px, 35px);
}

#chart-container{
    width: 53%;
    height: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
    border-radius: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

#chart-container img{
    width: 140px;
    height: 140px;

}

#testeteste{
    background: red;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}