
.Cadastro {
    background-image: url("../images/img-de-fundo-Login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#BoxCadastro {
    width: 70%;
    height: 70%;
    display: flex;
    border-radius: 15%;
}