.contact-page{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient( -110grad, #C5DBC7,#b1dbb5);
}
  
.page{
    width: 100%;
    /* height: calc(100% - 50px); */
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.box{
    width: 80%;
    max-width: 1000px;
    height: 80%;
    background-color: #fff;
    display: flex;
}


@keyframes right{

    to{
        transform: translateX(-100%);
    }
    from{
        transform: translateX(0);
    }
}

.animate-right{
    animation-name: right;
    animation-duration: 300ms;
}


