*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#despesas{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #f0f0f7;
    
}

#wrapper{
    max-width: 1200px;
    height: 100%;
    margin: 20px auto;
    padding: 0 15px;
    position: relative;
    top: 60px;
}

.despesas{
    background-color: red !important;
}