* {
    padding: 0;
    margin: 0;
}

.containerGeral {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif; 
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f7;
}

.containerTopo{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 80%;
    padding: 20px;
    margin-top: 30px;
}

.containerMeio{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 80%;
    padding: 20px;    
}

.containerBaixo{
    height: 30%;
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.4);
    
}