* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif; 
}

.PisitionAll {
    width: 100vw;
    height: 100vh;       
    background-image: url(../images/img-de-fundo.jpeg);
    background-size: cover;
    background-position: center left;
    background-attachment: scroll;
}

.PositionTop{
    display: flex;
}

.PositionMiddle{
    display: flex;
    justify-content: space-between;
    width: 90%;
}