.corpo {
    background-image: url("../images/img-de-fundo-Login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

#container {
    background: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#box {
    width: 70%;
    height: 100%;
    display: flex;
    border-radius: 15%;
}