*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#Movimentacao{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #f0f0f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
}