* {
    padding: 0;
    margin: 0;
}

.Movimentacao {
    background-image: url("../images/img-de-fundo-Login.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}