.navbar {
    background: #c5dbc7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    transition: 0.4s;
    z-index: 99;
}

.navbar div {
    width: 100vw;
    height: auto;
    display: block;
    margin: 10px auto auto 30px;
}

.navbar img {
    width: 75px;
    height: auto;
}

.navbar ul a {
    text-decoration: none;
    color: #04660e;
    padding: 10px 30px;
    border-radius: 6.5px;
    margin: 10px 20px;
}

.navbar ul a:hover {
    color: white;
    background-color: #04660e;
    border-radius: 6.5px;
    transition: 0.3s;
    margin: 10px 20px;
    padding: 10px 30px;
    width: 100vw;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    margin: 50px;
    text-align: center;
}