header{
    width: 100vw;
    height: 8%;
    overflow: hidden;
    margin: 0;
    background:  #C5DBC7;
}

nav#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;    
    transition: 0.4s;
    z-index: 99;
}

nav#navbar div {
    width: 100%;
    display: block;
    margin-left: 40px;
}

nav#navbar img {
    width: 75px;  
    height: auto;
    display: flex;
}