div#DivBrancaLogin{
    height: 100%;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 50px 0 0 50px;
    font-family: 'Roboto' 'sans-serif';
    padding-bottom: 50px;
}

#DivBrancaLogin h1{
    height: 5%;
    width: auto;
    color: #8DB892;
    font-size: 45px;
}
.FormLogin{
    height: 70%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.inputsLogin{
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputlogin{
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, .05);
    border: none;
    border-radius: 5px;
    outline: none;
}

.buttonlogin{
    background: #8DB892;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 15%;
    width: 35%;
    font-size: 20pt;
    font-weight: 600;
    color: white;
    margin-top: 50px
}

.checkboxLogin{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;

}


