.verde{
    width: 40%;
    height: 100%;
    background:#8DB892;
    border-radius:0 15% 15% 0;
    text-align: center;
    padding: 30px;
}

 .verde h2{
    margin-top: 75px;
    font-size: 25pt;
    color: #ffffff;
}

.verde p{
    width: 100%;
    padding: 20px;
    font-size: 15pt;
    color: #ffffff;
    text-align: center;
}

.verde input {
    background-color:transparent;
    border: 1px solid white;
    width: 40%;
    padding: 20px;
    font-size: 16pt;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 40px;
    transition: 0.5s;
}

.verde input.Cadastro {
    width: auto;
}

.verde input:hover{
    background-color: white;
    color: green;
}
