.boxVerde{
    background-color: #c5dbc7;
    display: flex;
    flex-flow: column;
    align-items: center;
    line-height: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.Balanço{
    font-size: 16px;
}

