.CadastroRapido{
    background-color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 10px;
    border-radius: 10px;
    width: 45%;
}

.plus{
    margin-right: 25px;
}

.minus{
    margin-left: 25px;
}

.Receitadespesa{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.classificaçao{
    margin: 25px;
}