 .DivBrancaCadastro { 
    background-color: white;
    height: 100%;
    width: 60%;
    border-radius: 0 25px 25px 0;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
}

.DivBrancaCadastro h2{
    align-self: auto;
    font-size: 25pt;
    color: #8DB892;
}

.DivBrancaCadastro button{
    background-color: #8DB892;
    width: 40%;
    padding: 20px;
    font-size: 16pt;
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 15px;
    transition: 0.5s;
}

.CadastroForm{
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: column nowrap;
}

.CadastroForm input{
    outline: none;
    background: rgba(0, 0, 0, .05);
    border: none;
    padding: 15px 10px;
    color: rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    height: 45px;
} 

.DivBrancaCadastro button:hover {
    background-color: transparent;
    border: 2px solid green;
    color: green;
}